    <ckeditor [(ngModel)]="content" debounce="500">
      <p>Hello <strong>world</strong></p>
    </ckeditor>

    <!-- <ckeditor
    [(ngModel)]="ckeditorContent"
    [config]="{uiColor: '#99000'}"
    [readonly]="false"
    (change)="onChange($event)"
    (editorChange)="onEditorChange($event)"
    (ready)="onReady($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (contentDom)="onContentDom($event)"
    (fileUploadRequest)="onFileUploadRequest($event)"
    debounce="500">
  </ckeditor> -->